@media(max-width: 1780px){
  .feedback{
    position: relative;
    background-color: transparent;
    &::after{
      position: absolute;
      content: "";
      background-color: rgba(#182c3d, .9);
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  .feedback__textarea{
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
  }
  .feedback__img{
    width: 100%;
  }
}
@media(max-width: 1400px){
  .first__screen-textarea {
    left: 30%;
  }
}
@media(max-width: 1200px){
  .logo {
    margin-left: 85px;
  }
  .first__screen-slider__dots{
    right: 50px;
  }
}
@media(max-width: 1140px){
  .services__inner{
    flex-direction: column;
  }
  .services__tabs{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-right: 0;
    margin-top: 0;
  }
  .services__tab{
    max-width: 290px;
    width: 100%;
    margin-bottom: 40px;
  }
  .services__tab.tab--active{
    margin-left: 0;
    max-width: 290px;
  }
  .services__tab + .services__tab{
    margin-top: 0;
  }
  .services__title {
    margin-bottom: 40px;
  }
}
@media(max-width: 1100px){
  .logo {
    margin-left: 130px;
  }
  .first__screen-info{
    width: 50%;
  }
  .benefits__item-title {
    font-size: 24px;
  }
  .benefits__item-text{
    font-size: 18px;
    line-height: 27px;
  }
  .benefits__items{
    flex-wrap: wrap;
  }
  .benefits__item:nth-child(2), .benefits__item:nth-child(4){
    margin-top: 0;
  }
  .video{
    background-position: center bottom 0;
  }
}
@media(max-width: 1050px){
  .first__screen-textarea {
    left: 20%;
  }
}
@media(max-width: 1000px){
  .first__screen {
    padding-bottom: 0;
  }
  .header{
    position: absolute;
    width: 100%;
    padding: 35px 20px 32px;
  }
  .header__phone{
    display: none;
  }
  .logo {
    margin-left: 0;
    order: -1;
  }
  .first__screen-info {
    width: 100%;
    background-color: rgba(24,44,61,0.88);
  }
  .first__screen-textarea {
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    max-width: 355px;
  }
  .first__screen-text {
    margin-bottom: 35px;
  }
  .first__screen-title {
    margin-bottom: 35px;
  }
  .menu__list {
    height: 595px;
    top: 0;
  }
  .first__screen-socials{
    display: none;
  }
  .first__screen-socials.menu__social-list{
    display: flex;
    bottom: 65px;
    left: 50%;
    transform: translateX(-50%);
  }
  .menu__list-item {
    font-size: 18px;
    line-height: 21px;
  }
  .services {
    padding-bottom: 130px;
  }
  .feedback__textarea {
    max-width: 560px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .feedback__form{
    width: 100%;
  }
  .feedback__form,
  .feedback__text{
    max-width: 480px;
  }
  .feedback__form-btn{
    background-color: #f8a25a;
    border-color: #f8a25a;
    margin-bottom: 0;
    &:hover{
      border-color: #fff;
    }
  }
  .feedback__img{
    height: 778px;
    overflow: hidden;
  }
  .reviews__slider-item__img-wrapper{
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width: 900px){
  .benefits {
    padding-top: 95px;
  }
  .services__tab{
    margin-bottom: 70px;
  }
  .tabs-content.tabs-content--active {
    margin: 0px -15px;
    overflow: hidden;
  }
  .services__tabs{
    justify-content: space-between;
  }
  .services__content-textarea{
    margin: 0 15px;
  }
  .video__watch{
    width: 360px;
  }
  .video__watch-text{
    text-align: center;
  }
  .services {
    padding-bottom: 160px;
  }
  .reviews__title {
    margin-bottom: 65px;
  }
}
@media(max-width: 820px){
  .first__screen-link::before {
    display: none;
  }
  .first__screen-link {
    padding: 19px 45px 20px;
    letter-spacing: 1px;
  }
  .first__screen-link:hover {
    background-color: #f8a25a;
  }
  .first__screen-link:hover {
    border: 1px solid #f8a25a;
  }
  .first__screen-text {
    letter-spacing: 0.5px;
  }
  .first__screen-textarea{
    position: relative;
    &::after{
      position: absolute;
      content: "";
      background-image: url('../images/arrow-right__first-screen.png');
      width: 40px;
      height: 10px;
      transform: rotate(90deg) translateY(22px);
      bottom: -90px;
      left: 50%;
    }
  }
  .feedback__text {
    font-size: 22px;
    line-height: 25px;
  }
  .feedback__text-conditionals{
    font-size: 18px;
    line-height: 21px;
  }
  .feedback__title {
    font-size: 45px;
    line-height: 48px;
    letter-spacing: 0.1px;
  }
  .feedback__textarea {
    max-width: 510px;
  }
}
@media(max-width: 800px){
  .benefits__items{
    padding: 0 36px;
    justify-content: flex-start;
  }
  .benefits__item:nth-child(2), .benefits__item:nth-child(4) {
    margin-top: 160px;
  }
  .benefits__item:nth-child(2){
    margin-left: -28px;
  }
  .benefits__item:nth-child(1), .benefits__item:nth-child(3){
    margin-right: 75px;
  }
  .benefits {
    padding-top: 75px;
  }
  .services__content-textarea__link{
    display: none;
    &.services__content-textarea__left-link{
      display: block;
    }
  }
  .services__tab{
    font-size: 22px;
    line-height: 25px;
  }
  .reviews__slider-item__img-wrapper {
    position: absolute;
    right: -70px;
    z-index: 5;
  }
  .reviews__slider-item__img {
    width: 187px;
    height: 192px;
  }
  .reviews__title {
    margin-bottom: 50px;
  }
}
@media(max-width: 780px){
  .first__screen-link{
    background-color: #f8a25a;
    border: 1px solid #f8a25a;
  }
  .benefits__item-title {
    margin: 20px 0 20px
  }
  .services {
    padding-bottom: 190px;
  }
  .reviews__slider-item__img-wrapper {
    position: absolute;
    right: -45px;
  }
}
@media(max-width: 660px){
  .menu__btn {
    width: 34px;
    height: 24px;
  }
  .menu__btn div + div {
    margin-top: 9px;
  }
  .header__inner {
    align-items: flex-start;
  }
}
@media(max-width: 580px){
  .first__screen-slider__item{
    background-position: center;
  }
  .first__screen-text {
    font-size: 16px;
    line-height: 22px;
  }
  .first__screen-title {
    font-size: 57px;
    line-height: 60px;
  }
  .first__screen-title {
    margin-bottom: 25px;
  }
  .first__screen-textarea::after {
    bottom: -50px;
  }
}
@media(max-width: 480px){
  .first__screen-title {
    font-size: 53px;
    line-height: 56px;
  }
  .first__screen-text{
    font-family: 'Muller Ultra Light', sans-serif;
    font-size: 18px;
    line-height: 24px;
  }
  .menu__close {
    right: 17px;
    top: 20px;
  }
}
@media(max-width: 400px){
  .first__screen-title {
    font-size: 48px;
    line-height: 51px;
  }
  .first__screen-text {
    margin-bottom: 30px;
  }
}