%MullerUltraLight{
  font-family: 'Muller Ultra Light';
}
%MullerLight{
  font-family: 'Muller Light';
}
%PlayfairDisplayRegular{
  font-family: 'PlayfairDisplayRegular';
}
%PlayfairDisplayBold{
  font-family: 'PlayfairDisplayBold';
}
%RalewayLight{
  font-family: 'Raleway Light';
}
%RalewayRegular{
  font-family: 'Raleway Regular';
}
%RalewayMedium{
  font-family: 'Raleway Medium';
}
%RalewaySemiBold{
  font-family: 'Raleway SemiBold';
}
%RalewayBold{
  font-family: 'Raleway Bold';
}
%RalewayExtraBold{
  font-family: 'Raleway ExtraBold';
}