@import "vars";
@import "libs";
@import "fonts";
@import "global";

/*start header*/
.header{
  padding: 22px 0 32px;
  position: relative;
  z-index: 5;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__phone{
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.75px;
    color: #252525;
    @extend %MullerLight;
    a{
      padding-left: 22px;
      position: relative;
      &::before{
        position: absolute;
        content: "";
        background-image: url('../images/phone-header.png');
        width: 12px;
        height: 15px;
        left: 0;
      }
    }
  }
}
.logo{
  margin-left: 50px;
}
/*start menu*/
.menu{
  &__btn{
    width: 26px;
    height: 18px;
    cursor: pointer;
    div{
      height: 2px;
      width: 100%;
      background-color: #fff;
    }
    div + div {
      margin-top: 6px;
    }
  }
  &__list{
    display: flex;
    flex-direction: column;
    z-index: 5;
    color: #fff;
    max-width: 1170px;
    width: 100%;
    height: 595px;
    position: absolute;
    left: 50%;
    top: 90px;
    transform: translateX(-50%) translateY(-300%);
    background-color: #112537;
    justify-content: center;
    transition: all .6s;
    &.menu__list--active{
      transform: translateX(-50%) translateY(0%);
    }
  }
  &__list-item{
    margin: 0 auto;
    @extend %RalewaySemiBold;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 1px;
    color: rgba(#fff, .5);
    transition: color .3s;
    & + & {
      margin-top: 35px;
    }
    &.menu__list-item--active{
      color: #f8a25a;
    }
    &:hover{
      color: rgba(#fff, 1);
    }
  }
}
/*end menu*/
/*end header*/

/*start first__screen*/
.first__screen {
  position: relative;
  padding-bottom: 90px;
  &-info{
    position: absolute;
    width: 48%;
    height: 100%;
    top: 0;
    background-color: rgba(#182c3d, .97);
    color: #fff;
    z-index: 1;
  }
  &-slider{
    margin: 0 auto;
    max-width: 1170px;
    height: 595px;
  }
  &-slider__item {
    max-width: 1170px;
    height: 595px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &-textarea{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 45%;
    max-width: 365px;
  }
  &-title{
    @extend %PlayfairDisplayBold;
    font-size: 61px;
    line-height: 64px;
    margin-bottom: 20px;
  }
  &-text{
    @extend %MullerLight;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
  &-link{
    padding: 19px 91px 20px 29px;
    background-color: transparent;
    border: 1px solid #fff;
    @extend %RalewayExtraBold;
    font-size: 14px;
    line-height: 17px;
    position: relative;
    transition: background-color .3s;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/arrow-right__first-screen.png');
      width: 40px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 29px;
    }
    &:hover{
      background-color: #f8a25a;
    }
  }
  &-socials{
    display: flex;
    position: absolute;
    bottom: 34px;
    left: 40%;
  }
  &-socials__item{
    & + & {
      margin-left: 37px;
    }
  }
  &-slider{
    z-index: 0;
  }
  &-slider__dots{
    display: flex;
    position: absolute;
    right: 0;
    bottom: -46px;
    li{
      font-size: 0;
      line-height: 0;
    }
    li button {
      width: 26px;
      height: 3px;
      background-color: #cdd3cf;
      border: none;
      cursor: pointer;
      margin-left: 12px;
      transition: all .3s;
    }
  }
  .slick-active button {
    background-color: #1a444a;
  }
}
/*end first__screen*/

/*start benefits*/
.benefits{
  padding-top: 125px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    &:nth-child(1),
    &:nth-child(4){
      max-width: 282px;
    }
    &:nth-child(2),
    &:nth-child(3){
      max-width: 252px;
    }
    &:nth-child(2),
    &:nth-child(4){
      margin-top: 175px;
    }
  }
  &__item-number{
    @extend %PlayfairDisplayBold;
    font-size: 85px;
    line-height: 88px;
    margin: 0;
    color: rgba(#fea052, .26);
  }
  &__item-title{
    margin: 20px 0 25px;
    @extend %RalewaySemiBold;
    font-size: 22px;
    line-height: 25px;
    color: #1a292f;
  }
}
/*end benefits*/

/*start portfolio*/
.portfolio{
  padding-bottom: 130px;
  &__title{
    margin-bottom: 50px;
  }
  &__tab{
    font-size: 18px;
    line-height: 21px;
    & + & {
      margin-left: 58px;
    }
    &.tab--active{
      @extend %RalewaySemiBold;
      color: #00203a;
      position: relative;
      padding-bottom: 10px;
      &::before{
        position: absolute;
        content: "";
        width: calc(100% + 2px);
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        background-color: #182c3d;
        bottom: 0;
      }
    }
  }
  &__tab-wrapper{
    margin-bottom: 47px;
  }
  &__slider-item{
    position: relative;
    width: 258px;
    height: 552px;
    overflow: hidden;
    &:hover{
      .portfolio__slider-item__hover{
        background-color: transparent;
        .portfolio__slider-item__hover-title,
        .portfolio__slider-item__hover-type{
          opacity: 0;
        }
        .portfolio__slider-item__hover-link{
          display: block;
        }
      }
    }
  }
  &__slider-item__hover{
    position: absolute;
    background-color: rgba(#182c3d, .8);
    width: 293px;
    height: 552px;
    opacity: 1;
    transition: all .3s;
  }
  &__slider-arrows{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
  }
  &__slider-prev{
    left: 30px;
  }
  &__slider-next{
    right: 30px;
  }
  &__slider-item__hover-title,
  &__slider-item__hover-type{
    color: #fff;
  }
  &__slider-item__hover-title{
    @extend %RalewaySemiBold;
    width: 145px;
    margin-left: 25px;
    padding-top: 20px;
  }
  &__slider-item__hover-type{
    position: absolute;
    transform: rotate(-90deg);
    bottom: 75px;
    left: -32px;
    @extend %MullerUltraLight;
    font-size: 14px;
  }
  &__slider-item__img{
    margin-left: -30px;
  }
  &__slider{
    display: flex;
  }
  &__slider-item__hover-link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: rgba(#febc80, .95);
    display: none;
    box-shadow: 4.5px 7.794px 20.88px 8.12px rgba(0, 1, 6, 0.07);
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/portfolio__slider-plus.png');
      width: 27px;
      height: 27px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
}
/*end portfolio*/

/*start services*/
.services{
  padding-bottom: 100px;
  &__title{
    margin-bottom: 65px;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__tabs{
    max-width: 230px;
    padding-right: 30px;
    margin-top: 10px;
  }
  &__tab{
    font-size: 18px;
    line-height: 21px;
    color: #7d7d7d;
    & + & {
      margin-top: 75px;
    }
    &.tab--active{
      @extend %RalewaySemiBold;
      color: #00203a;
      margin-left: 30px;
      max-width: 230px;
      width: 100%;
    }
  }
  &__container{
    max-width: 880px;
  }
  &__content-img{
    margin-bottom: 60px;
  }
  &__content-textarea{
    display: flex;
    justify-content: space-between;
  }
  &__content-textarea__title{
    @extend %PlayfairDisplayRegular;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: .25px;
    color: #00203a;
  }
  &__content-textarea__paragraph{
    max-width: 477px;
    font-size: 18px;
    line-height: 30px;
    color: #5e5e5e;
  }
  &__content-textarea__num-projects{
    margin-bottom: 70px;
    color: #112537;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: .25px;
  }
  &__content-textarea__link{
    padding: 18px 36px 17px;
    border: 2px solid #112537;
    @extend %RalewayExtraBold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #00203a;
    transition: all .3s;
    &:hover{
      background-color: #febc80;
      color: #fff;
      border: 2px solid #febc80;
    }
  }
  &__content-textarea__right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
/*end services*/

/*start video*/
.video{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -130px;
  height: 595px;
  position: relative;
  &::before{
    position: absolute;
    content: "";
    background-color: rgba(#182c3d, .7);
    width: 100%;
    height: 100%;
  }
  &__watch{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__watch-btn{
    width: 84px;
    height: 84px;
    border-radius: 50%;
    background-color: rgba(#f2b47d, .95);
    box-shadow: 4.5px 7.794px 20.88px 8.12px rgba(0, 1, 6, 0.07);
    position: relative;
    &::before{
      position: absolute;
      content: "";
      background-image: url('../images/video-btn.png');
      width: 18px;
      height: 21px;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
    }
  }
  &__watch-text{
    @extend %RalewayRegular;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: .25px;
    color: #fff;
  }
}
/*end video*/

/*start work-parts*/
.work-parts{
  padding: 130px 0 140px;
  &__title{
    margin-bottom: 50px;
  }
  &__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    counter-reset: number;
  }
  &__item{
    width: 356px;
    padding-left: 85px;
    padding-top: 25px;
    position: relative;
    &::before,
    &::after{
      position: absolute;
    }
    &::before{
      content: "";
      background-image: url('../images/work-parts__before.png');
      width: 70px;
      height: 70px;
      left: 0;
      top: 0;
    }
    &::after{
      content: counter(number);
      counter-increment: number;
      @extend %RalewayMedium;
      font-size: 12px;
      line-height: 15px;
      color: #00203a;
      top: calc(27px + .85px);
      left: 31px;
    }
    &:nth-child(5){
      width: 365px;
    }
  }
  &__item-title{
    @extend %RalewaySemiBold;
    font-size: 22px;
    line-height: 25px;
    color: #313131;
    padding-bottom: 19px;
    position: relative;
    &::before{
      position: absolute;
      content: "";
      height: 1px;
      width: 41px;
      background-color: #182c3d;
      bottom: 0;
    }
  }
}
/*end work-parts*/

/*start feedback*/
.feedback{
   background-color: #182c3d;
   &__inner{
     display: flex;
     justify-content: space-between;
   }
   &__textarea{
     max-width: 480px;
     margin: 0 auto;
     padding: 70px 0 78px;
   }
   &__title{
     font-size: 41px;
     line-height: 44px;
     color: #fff;
   }
   &__text{
     @extend %RalewayRegular;
     font-size: 14px;
     line-height: 20px;
     letter-spacing: .5px;
     color: rgba(#fff, .7);
   }
  &__form{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  &__form-input{
    padding: 11px 40px 12px 4px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #918e8b;
    position: relative;
    width: 100%;
    &::placeholder{
      color: rgba(#fff, .6);
    }
  }
  &__form-input__wrapper{
    position: relative;
    & + & {
      margin-top: 30px;
    }
    &::after{
      position: absolute;
      content: "";
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    &:first-child{
      &::after{
        background-image: url('../images/name-after.png');
        width: 18px;
        height: 20px;
      }
    }
    &:nth-child(2){
      &::after{
        background-image: url('../images/tel-after.png');
        width: 20px;
        height: 20px;
      }
    }
    &:nth-child(3){
      &::after{
        background-image: url('../images/e-mail-after.png');
        width: 22px;
        height: 16px;
      }
      margin-bottom: 46px;
    }
  }
  &__form-btn{
    padding: 19px 20px 20px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    @extend %RalewayExtraBold;
    color: #fff;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 1px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all .3s;
    &:hover{
      background-color: #fff;
      color: #00203a;
    }
  }
}
/*end feedback*/


@import "media";
